.question{
  font-weight:bold;
  font-size:18px;
}

.question::before{
  content:'Q: ';
  font-weight:bold;
  font-size:18px;
}

.answer::before{
  content:'A: ';
  font-weight:bold;
}

.answer{
  margin-bottom:35px;
}
